.text-capitalize {
  text-transform: capitalize;
}
.text-brand {
  color: var(--brand-color-light);
}
.text-brand-dark {
  color: var(--brand-color-dark);
}
.text-bold {
  font-weight: 600;
}
