:root {
  --primary-color-white: #ffffff;
  --brand-color-light: #2b7fff;
  --brand-color-dark: #011c44;
  --secondary-color-dark: #4a4a4a;
  --secondary-color-light: #747272;
  --secondary-color-brand-dark: #011f4a;
  --secondary-color-yellow: #ffd02b;
  --secondary-color-black: #000000;
  --whywesection-shadow-color: #a8c6f5;
  --header-background-color: rgba(255, 255, 255, 0.25);
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
