.cards-bgds {
  &__mask {
    background-image: url(./../images/mask-photo.jpg);
    border-radius: 4px 120px;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/mask-photo@2x.jpg);
    }
  }

  &__injection {
    background-image: url(./../images/injection-photo.jpg);
    border-radius: 4px 120px;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/injection-photo@2x.jpg);
    }
  }

  &__cleanface {
    background-image: url(./../images/cleanface-photo.jpg);
    border-radius: 4px 120px;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./../images/cleanface-photo@2x.jpg);
    }
  }
}
