@keyframes rotate {
  from {
    rotate: 0deg;
    scale: 1;
    fill: var(--brand-color-dark);
    translate: 0px;
  }
  20% {
    scale: 1.05;
    fill: var(--brand-color-light);
    translate: 20px;
  }
  40% {
    scale: 1.1;
    fill: var(--primary-color-white);
    translate: 40px;
  }
  60% {
    scale: 1.1;
    fill: var(--primary-color-white);
    translate: 40px;
  }
  80% {
    scale: 1.05;
    fill: var(--brand-color-light);
    translate: 20px;
  }
  to {
    rotate: 360deg;
    scale: 1;
    fill: var(--brand-color-dark);
    translate: 0px;
  }
}
